{% extends 'base.html' %}
{% block title %}Dni wyzwania {% endblock %}
{% block body %}

<style>
    table {
        margin-top: 50px;
        width: 100%;
        height: 100%;
        text-align: center;
        border-collapse: separate;
        border-spacing: 0 0px;
        box-shadow: 0px 0px 5px 1px black;
    }
    .main-head {
        background: #808080;
        border-collapse: separate;
    }
    tr.row_day > td,
    h4 {
        padding: 15px;
        text-transform: uppercase;
        font-weight: bold;
        color: #f5f5f5;
    }
    tr.row_atr > td {
        text-transform: uppercase;
        font-weight: bold;
        background: #f0f8ff;
    }
    tr.row_obj > td {
        background: #f8f8ff;
    }
    .pagination{
        margin-top: 50px;
    	margin-bottom: 60px;
    }
    #link {
        color: blue;
        font-style: italic;
        font-weight: bold;
    }
    .rounded-circle{
        height: 100px;
        width:  100px;
        background-color: black;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-right: 29px;
        margin-left: 29px;
        float:left;
        display:inline;
        border: 2px solid white;
    }
    .rounded-circle p {
        height: 100%;
        font-size: 18px;
        line-height: 1.25;
        padding: 0;
        text-align: center;
        font-style: italic;
        font-weight: bold;
        -webkit-text-stroke: 0.55px black;
    }
    .text {
        width: 100%;
        height: 100%;
        position: relative;
        margin: 0;
        color: white;
    }

    .text .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 50%;
        margin-left: -60px;
    }

    .text.tooltiptext::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent black transparent;
    }

    .text:hover .tooltiptext {
        visibility: visible;
    }
</style>


<div class="container">
    {% for count in days_table %}
<div class="rounded-circle" style="{% if count.count <= 4 %}background-color: #228B22 {% elif count.count <= 6 %} background-color: #DAA520 {% elif count.count >= 8 %} background-color: #B22222 {% endif %}">
    <div class="text">
        <p><br>{{ count.count }}<br>piosenek</p>
            <span class="tooltiptext">{{ count.day|date:"(l) d.m.Y" }}</span>
    </div>
</div>
 {% endfor %}
    <table class="table table-bordered">
        {% for day in object_list %}
        <thead class="main-head">
            <tr class="row_day">
                <td colspan="4"><h4>{{ day.date|date:"(l) d.m.Y" }} - {{ day.condition }}</h4></td>
            </tr>
        </thead>
        <thead>
            <tr class="row_atr">
                <td>Autor</td>
                <td>Tytuł</td>
                <td>Link</td>
                <td>Proponujący</td>
            </tr>
        </thead>
        <tbody>
            {% for obj in day.song_set.all %}
            <tr class="row_obj">
                <td>{{ obj.artist }}</td>
                <td>{{ obj.title }}</td>
                <td><a id="link" href="{{obj.link}}">YouTube <img width="51" height="28" src="/static/btn_youtube.png"></a></td>
                <td><a id="link" href="{{obj.person.get_absolute_url}}">{{ obj.person }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
        {% endfor %}
    </table>
    <!--Paginator-->
    <nav aria-label="Page navigation example">
        <ul class="pagination pg-blue justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; first</a>
            </li>

            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
            {% endif %}
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a></li>
            {% endif %}
            <li class="page-item active">
                <a class="page-link">{{ page_obj.number }} <span class="sr-only">(current)</span></a>
            </li>
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>

            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <!--/.Paginator-->

</div>
    {% endblock %}