{% extends 'base.html' %}
{% block title %} {% endblock %}
{% block body %}
<style>
    table {
        width: 100%;
        height: 100%;
        background: grey;
        text-align: center;
    }
    .main-head{
        background: grey;
        box-sizing: border-box;
        border-collapse: separate;
    }
    .col-12 xd
        background: grey;
</style>

<div class="container">
<table class="table table-bordered">
    {% for day in object_list %}
    <thead class="main-head">
        <td>{{ day.date }} - {{ day.condition }}</td>
    </thead>
    <thead>
        <td>Autor</td>
        <td>Tytuł</td>
        <td>Link</td>
        <td>Proponujący</td>
    </thead>
    {% for obj in day.song_set.all %}
    <tbody>
        <td>{{ obj.artist }}</td>
        <td>{{ obj.title }}</td>
        <td>{{ obj.link }}</td>
        <td>{{ obj.person }}</td>
    </tbody>
    {% endfor %}
    {% endfor %}
</table>
</div>


    <h1>koniec tabeli</h1>
    <h1>koniec tabeli</h1>


<div class="container">
    {% for day in object_list %}
    <div class="row">
        <div class="col-12 xd">{{ day.date }} - {{ day.condition }}</div>

        {% for obj in day.song_set.all %}
        <div class="col-3">{{ obj.artist }}</div>
        <div class="col-3">{{ obj.title }}</div>
        <div class="col-3">{{ obj.link }}</div>
        <div class="col-3">{{ obj.person }}</div>
        {% endfor %}
    </div>
    {% endfor %}
</div>


{% endblock %}
