{% extends 'base.html' %}
{% block title %}Wyzwanie muzyczne{% endblock %}
<body>
{% block body %}
<div>
<h1 style="margin-top:20px;">100 Muzycznych Dni - wyzwanie</h1>


<table>
    <thead>
    <tr><td>Nr.</td><td>Dzień tygodnia</td><td>Data</td><td>Opis dnia</td></tr>
    </thead>
    <tbody>
    <tr><td>1</td><td>Poniedziałek</td><td>27.07.2020</td><td>Piosenka, do której znasz cały tekst.</td></tr>
    <tr><td>2</td><td>Wtorek</td><td>28.07.2020</td><td>Piosenka z pierwszego albumu, który kupiłeś (jaki to był album?)</td></tr>
    <tr><td>3</td><td>Środa</td><td>29.07.2020</td><td>Piosenka, która przypomina ci o nocnym wypadzie (kiedy i gdzie to było?)</td></tr>
    <tr><td>4</td><td>Czwartek</td><td>30.07.2020</td><td>Piosenka, której słuchali twoi rodzice</td></tr>
    <tr><td>5</td><td>Piątek</td><td>31.07.2020</td><td>Piosenka, którą lubi twój przyjaciel, ale ty nie</td></tr>
    <tr><td>6</td><td>Sobota</td><td>01.08.2020</td><td>Nowatorska piosenka</td></tr>
    <tr><td>7</td><td>Niedziela</td><td>02.08.2020</td><td>Jedna z twoich ulubionych piosenek</td></tr>
    <tr><td>8</td><td>Poniedziałek</td><td>03.08.2020</td><td>Piosenka, którą kiedyś lubiłeś, ale teraz nienawidzisz</td></tr>
    <tr><td>9</td><td>Wtorek</td><td>04.08.2020</td><td>Piosenka z programu z dzieciństwa</td></tr>
    <tr><td>10</td><td>Środa</td><td>05.08.2020</td><td>Piosenka z twojego ulubionego albumu (jaki to album?)</td></tr>
    <tr><td>11</td><td>Czwartek</td><td>06.08.2020</td><td>Piosenka artysty, który cię dosłownie "przyciąga"</td></tr>
    <tr><td>12</td><td>Piątek</td><td>07.08.2020</td><td>Piosenka zmarłego artysty</td></tr>
    <tr><td>13</td><td>Sobota</td><td>08.08.2020</td><td>Ulubiony cover (wiesz kto był wykonawcą?</td></tr>
    <tr><td>14</td><td>Niedziela</td><td>09.08.2020</td><td>Piosenka z dobrym teledyskiem</td></tr>
    <tr><td>15</td><td>Poniedziałek</td><td>10.08.2020</td><td>Znienawidzona piosenka</td></tr>
    <tr><td>16</td><td>Wtorek</td><td>11.08.2020</td><td>Piosenka, którą ty lubisz, ale twój przyjaciel nienawidzi</td></tr>
    <tr><td>17</td><td>Środa</td><td>12.08.2020</td><td>Piosenka z filmu (jaki to był film?)</td></tr>
    <tr><td>18</td><td>Czwartek</td><td>13.08.2020</td><td>Piosenka wydana w roku, w którym się urodziłeś</td></tr>
    <tr><td>19</td><td>Piątek</td><td>14.08.2020</td><td>Piosenka, którą lubi każdy</td></tr>
    <tr><td>20</td><td>Sobota</td><td>15.08.2020</td><td>Dobra piosenka z lat 80.</td></tr>
    <tr><td>21</td><td>Niedziela</td><td>16.08.2020</td><td>Piosenka zawierająca imię</td></tr>
    <tr><td>22</td><td>Poniedziałek</td><td>17.08.2020</td><td>Piosenka trwająca ponad 7 minut</td></tr>
    <tr><td>23</td><td>Wtorek</td><td>18.08.2020</td><td>Utwór bez tekstu</td></tr>
    <tr><td>24</td><td>Środa</td><td>19.08.2020</td><td>Dobra piosenka z lat 70.</td></tr>
    <tr><td>25</td><td>Czwartek</td><td>20.08.2020</td><td>Piosenka, o którą poprosiłbyś DJ-a na imprezie</td></tr>
    <tr><td>26</td><td>Piątek</td><td>21.08.2020</td><td>Dobra piosenka z lat 60.</td></tr>
    <tr><td>27</td><td>Sobota</td><td>22.08.2020</td><td>Piosenka zawierająca liczbę</td></tr>
    <tr><td>28</td><td>Niedziela</td><td>23.08.2020</td><td>Naprawdę stara piosenka (kiedy została wydana?)</td></tr>
    <tr><td>29</td><td>Poniedziałek</td><td>24.08.2020</td><td>Piosenka Michaela Jacksona</td></tr>
    <tr><td>30</td><td>Wtorek</td><td>25.08.2020</td><td>Jedna z najstarszych piosenek, jaką lubisz</td></tr>
    <tr><td>31</td><td>Środa</td><td>26.08.2020</td><td>Jeśli organizowałbyś urodziny, graliby tą piosenkę</td></tr>
    <tr><td>32</td><td>Czwartek</td><td>27.08.2020</td><td>Hit sezonu, który lubisz najbardziej</td></tr>
    <tr><td>33</td><td>Piątek</td><td>28.08.2020</td><td>Naprawdę krótka piosenka</td></tr>
    <tr><td>34</td><td>Sobota</td><td>29.08.2020</td><td>Piosenka śpiewana przez aktora/aktorkę</td></tr>
    <tr><td>35</td><td>Niedziela</td><td>30.08.2020</td><td>Klasyczna rockowa piosenka</td></tr>
    <tr><td>36</td><td>Poniedziałek</td><td>31.08.2020</td><td>Zwycięzca konkursu Eurowizji z roku, w którym się urodziłeś (dla urodzonych po roku 1956)</td></tr>
    <tr><td>37</td><td>Wtorek</td><td>01.09.2020</td><td>Najgorsza piosenka, jaką masz w swojej kolekcji</td></tr>
    <tr><td>38</td><td>Środa</td><td>02.09.2020</td><td>Piosenka, która cię motywuje</td></tr>
    <tr><td>39</td><td>Czwartek</td><td>03.09.2020</td><td>Pierwsza lepsza piosenka</td></tr>
    <tr><td>40</td><td>Piątek</td><td>04.09.2020</td><td>Piosenka z lat 50.</td></tr>
    <tr><td>41</td><td>Sobota</td><td>05.09.2020</td><td>Utwór z lat szkolnych</td></tr>
    <tr><td>42</td><td>Niedziela</td><td>06.09.2020</td><td>Piosenka, którą lubisz, mimo tego że wszyscy myślą że jej nie cierpisz</td></tr>
    <tr><td>43</td><td>Poniedziałek</td><td>07.09.2020</td><td>Najlepsza piosenka z twoich wszystkich urodzin</td></tr>
    <tr><td>44</td><td>Wtorek</td><td>08.09.2020</td><td>Gdybyś wydawał album, ta piosenka by się na nim znalazła</td></tr>
    <tr><td>45</td><td>Środa</td><td>09.09.2020</td><td>Utwór Beatlesów</td></tr>
    <tr><td>46</td><td>Czwartek</td><td>10.09.2020</td><td>Piosenka z 2000 roku</td></tr>
    <tr><td>47</td><td>Piątek</td><td>11.09.2020</td><td>Najgorszy utwór ulubionego wykonawcy</td></tr>
    <tr><td>48</td><td>Sobota</td><td>12.09.2020</td><td>Piosenka, którą pamiętasz z reklamy (czego reklamy?)</td></tr>
    <tr><td>49</td><td>Niedziela</td><td>13.09.2020</td><td>Piosenka, którą ktoś powinien coverować (kto?)</td></tr>
    <tr><td>50</td><td>Poniedziałek</td><td>14.09.2020</td><td>Utwór zapomniany przez wszystkich</td></tr>
    <tr><td>51</td><td>Wtorek</td><td>15.09.2020</td><td>Dobra letnia piosenka</td></tr>
    <tr><td>52</td><td>Środa</td><td>16.09.2020</td><td>Najgorsza świąteczna piosenka</td></tr>
    <tr><td>53</td><td>Czwartek</td><td>17.09.2020</td><td>Piosenka, która sprawia, że dobrze się czujesz</td></tr>
    <tr><td>54</td><td>Piątek</td><td>18.09.2020</td><td>Piosenka wykonawcy, którego koniecznie chcesz zobaczyć na żywo (nawet jeśli już nie żyje)</td></tr>
    <tr><td>55</td><td>Sobota</td><td>19.09.2020</td><td>Utwór wykonawcy, którego widziałeś na żywo</td></tr>
    <tr><td>56</td><td>Niedziela</td><td>20.09.2020</td><td>Piosenka z listy "Najlepszych Gitarzystów The Rolling Stones"</td></tr>
    <tr><td>57</td><td>Poniedziałek</td><td>21.09.2020</td><td>Najlepsza piosenka z 10 ostatnio dodanych przez znajomych</td></tr>
    <tr><td>58</td><td>Wtorek</td><td>22.09.2020</td><td>Gdybyś musiał śpiewać, wybrałbyś tą piosenkę</td></tr>
    <tr><td>59</td><td>Środa</td><td>23.09.2020</td><td>Chciałbym, żeby ktoś znajomy dla żartu zaśpiewał tą piosenkę</td></tr>
    <tr><td>60</td><td>Czwartek</td><td>24.09.2020</td><td>Piosenka, do której jest ustalony taniec (np. Macarena)</td></tr>
    <tr><td>61</td><td>Piątek</td><td>25.09.2020</td><td>Najpopularniejsza piosenka ulubionego artysty</td></tr>
    <tr><td>62</td><td>Sobota</td><td>26.09.2020</td><td>Ulubiona świąteczna piosenka</td></tr>
    <tr><td>63</td><td>Niedziela</td><td>27.09.2020</td><td>Musisz słuchać tej piosenki, a jest nieznośna</td></tr>
    <tr><td>64</td><td>Poniedziałek</td><td>28.09.2020</td><td>Piosenka, która zna mało kto na tej stronie</td></tr>
    <tr><td>65</td><td>Wtorek</td><td>29.09.2020</td><td>Utwór, który ma być grany na twoim pogrzebie</td></tr>
    <tr><td>66</td><td>Środa</td><td>30.09.2020</td><td>Piosenka z Disneya</td></tr>
    <tr><td>67</td><td>Czwartek</td><td>01.10.2020</td><td>Pierwsza linijka z piosenki, którą kocham</td></tr>
    <tr><td>68</td><td>Piątek</td><td>02.10.2020</td><td>Utwór Queen</td></tr>
    <tr><td>69</td><td>Sobota</td><td>03.10.2020</td><td>Piosenka z seksownym teledyskiem</td></tr>
    <tr><td>70</td><td>Niedziela</td><td>04.10.2020</td><td>Piosenka, którą śpiewasz, kiedy jesteś pijany</td></tr>
    <tr><td>71</td><td>Poniedziałek</td><td>05.10.2020</td><td>Utwór artysty, którego imię lub nazwisko są takie jak twoje</td></tr>
    <tr><td>72</td><td>Wtorek</td><td>06.10.2020</td><td>Piosenka gwiazdeczki, której pewnie nikt nie doda (nie oszukuj)</td></tr>
    <tr><td>73</td><td>Środa</td><td>07.10.2020</td><td>Piosenka, która budzi w tobie wspomnienia (jakie?)</td></tr>
    <tr><td>74</td><td>Czwartek</td><td>08.10.2020</td><td>Utwór z gatunku, którego nie znasz (jaki to gatunek?)</td></tr>
    <tr><td>75</td><td>Piątek</td><td>09.10.2020</td><td>Dobry duet</td></tr>
    <tr><td>76</td><td>Sobota</td><td>10.10.2020</td><td>Dziwna piosenka</td></tr>
    <tr><td>77</td><td>Niedziela</td><td>11.10.2020</td><td>Piosenka artysty, który mieszka blisko ciebie (gdzie?)</td></tr>
    <tr><td>78</td><td>Poniedziałek</td><td>12.10.2020</td><td>Piosenka, która była hitem, gdy miałeś 10 lat</td></tr>
    <tr><td>79</td><td>Wtorek</td><td>13.10.2020</td><td>Piosenka artystów, którzy mają dziwny styl</td></tr>
    <tr><td>80</td><td>Środa</td><td>14.10.2020</td><td>Piosenka ABBY</td></tr>
    <tr><td>81</td><td>Czwartek</td><td>15.10.2020</td><td>Piosenka artysty z lat 80., który myśli, że jest fajny</td></tr>
    <tr><td>82</td><td>Piątek</td><td>16.10.2020</td><td>To powinien być hymn narodowy</td></tr>
    <tr><td>83</td><td>Sobota</td><td>17.10.2020</td><td>Utwór z ładną oprawą graficzną singla lub albumu (jaki to album?)</td></tr>
    <tr><td>84</td><td>Niedziela</td><td>18.10.2020</td><td>Piosenka przypominająca ci o byłym/ byłej</td></tr>
    <tr><td>85</td><td>Poniedziałek</td><td>19.10.2020</td><td>Piosenka, dzięki której chce ci się tańczyć</td></tr>
    <tr><td>86</td><td>Wtorek</td><td>20.10.2020</td><td>Piosenka homoseksualisty/stki</td></tr>
    <tr><td>87</td><td>Środa</td><td>21.10.2020</td><td>Zabawna piosenka, do której panna młoda powinna iść do ołtarza</td></tr>
    <tr><td>88</td><td>Czwartek</td><td>22.10.2020</td><td>Piosenka artysty, którego nienawidzisz</td></tr>
    <tr><td>89</td><td>Piątek</td><td>23.10.2020</td><td>Tą piosenka wygralibyśmy Eurowizję</td></tr>
    <tr><td>90</td><td>Sobota</td><td>24.10.2020</td><td>Piosenka, którą zamierzasz ściągnąć/kupić</td></tr>
    <tr><td>91</td><td>Niedziela</td><td>25.10.2020</td><td>Utwór na romantyczny obiad</td></tr>
    <tr><td>92</td><td>Poniedziałek</td><td>26.10.2020</td><td>Piosenka dobra na zerwanie</td></tr>
    <tr><td>93</td><td>Wtorek</td><td>27.10.2020</td><td>Piosenka z gatunku ska</td></tr>
    <tr><td>94</td><td>Środa</td><td>28.10.2020</td><td>Przereklamowana piosenka</td></tr>
    <tr><td>95</td><td>Czwartek</td><td>29.10.2020</td><td>Według ciebie najtrudniejsza piosenka do opanowania na instrumencie</td></tr>
    <tr><td>96</td><td>Piątek</td><td>30.10.2020</td><td>Jak śmiesznie byłoby, gdyby zagrali to w dworcowej toalecie</td></tr>
    <tr><td>97</td><td>Sobota</td><td>31.11.2020</td><td>Gdyby nakręciliby o mnie film, ta piosenka byłaby w napisach końcowych</td></tr>
    <tr><td>98</td><td>Niedziela</td><td>01.11.2020</td><td>Dedykuję tę piosenkę przyjacielowi (komu?)</td></tr>
    <tr><td>99</td><td>Poniedziałek</td><td>02.11.2020</td><td>Każde dziecko powinno tego słuchać, żeby nauczyć się doceniać dobrą muzykę</td></tr>
    <tr><td>100</td><td>Wtorek</td><td>03.11.2020</td><td> Zakończyłem wyzwanie stu dni piosenek, więc dodaję tę piosenkę bez powodu, bo mogę</td></tr>
    </tbody>
</table>
</div>
<style>
    body div {
        text-align: center;
    }

    table {
        margin: auto;
        text-align: center;
    }
    td {
        border: solid;
        border-width: 1px;
        background-color: lightgray;
    }
    thead td {
        background-color: gray;
    }

    table {
    	margin-top: 50px;
    	margin-bottom: 50px;
    }

</style>
<script>
    date = new Date();
    day = String("0" + date.getDate()).slice(-2);
    month = String("0" + (date.getMonth() + 1)).slice(-2);
    today = day + "." + month + "." + date.getFullYear();
    trs = document.getElementsByTagName("tr");
    for(i=1; i<trs.length; i++){
        if(trs[i].childNodes[2].innerText === today){
            for(j=0;j<trs[i].childNodes.length;j++){
                trs[i].childNodes[j].style.backgroundColor = "lightgreen";
            }
            break;
	}else{
            for(j=0; j<trs[i].childNodes.length; j++){
                trs[i].childNodes[j].style.backgroundColor = "darkgray";
            }
        }
    }
</script>
{% endblock %}
</body>
