{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% block title %} Wyszukiwarka {% endblock %}
    </head>
    {% block body %}
        <style>
            #search-input{
                background-color:#F8F8FF;
                color:black;
            }
            table {
                margin: auto;
                text-align: center;
                box-shadow: 0px 0px 5px 1px black;
            }
            #link {
                color: blue;
                font-style: italic;
                font-weight: bold;
            }
            .pagination{
                margin-top: 50px;
                margin-bottom: 60px;
            }
        </style>
    <div class="container">
        <!-- search bar -->
        <div class="search-bar">
            <form method="get" action="{% url 'search_results' %}">
                <div class="input-group md-form form-sm form-2 pl-0 ">
                    <input id="search-input" class="form-control my-0 py-1" type="text" name="q" placeholder="Wyszukaj..." />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Szukaj</button>
                    </div>
                </div>
            </form>
        </div>
        <!--/. search bar -->
        <h3 style="text-align: center;">III EDYCJA WYZWANIA MUZYCZNEGO</h3>
        <table class="table table-striped">
            <thead class="grey white-text">
                <tr>
                    <td scope="col">Data</td>
                    <td scope="col">Artysta</td>
                    <td scope="col">Tytuł</td>
                    <td scope="col">Link</td>
                    <td scope="col">Proponujący</td>
                </tr>
            </thead>

            <tbody style="background-color: #f8f8ff;">
                {% for song in page_obj %}
                <tr>
                    <td>{{ song.day.date|date:"D, d.m.Y" }}</td>
                    <td>{{ song.artist }}</td>
                    <td>{{ song.title }}</td>
                    <td>
                        <a id="link" href="{{ song.link }}">YouTube <img width="51" height="28" src="/static/btn_youtube.png" /></a>
                    </td>
                    <td><a id="link" href="{{obj.person.get_absolute_url}}">{{ song.person.name }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!--Paginator-->
        <nav aria-label="Page navigation example">
            <ul class="pagination pg-blue justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; first</a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
                {% endif %} {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a></li>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link">{{ page_obj.number }} <span class="sr-only">(current)</span></a>
                </li>
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a></li>
                {% endif %} {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <!--/.Paginator-->
    </div>
{% endblock %}
</html>
