{% extends 'base.html' %}
{% block title %}Person view {% endblock %}
{% block body %}
<div class="container">
    {% for day in days %}
    <p class="{% if day.active %}active{% elif day.future %} future{% else %} inactive {% endif %}">{{day.date}} - {{ day.active }} - {{day.future}} </p>
    {% endfor %}
    <style>
        .active{
            background-color: green;
        }
        .inactive{
            background-color:red;
        }
        .future{
            background-color: grey;
        }
    </style>



    <!--Paginator-->
    <nav aria-label="Page navigation example">
        <ul class="pagination pg-blue justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; first</a>
            </li>

            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
            {% endif %}
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a></li>
            {% endif %}
            <li class="page-item active">
                <a class="page-link">{{ page_obj.number }} <span class="sr-only">(current)</span></a>
            </li>
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>

            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <!--/.Paginator-->

</div>
    {% endblock %}