{% extends 'base.html' %}
{% block title %}Person view {% endblock %}
{% block body %}
<div class="container">
    {% for day in days %}
    {% if day.date|wordcount %}<div class="row"> {% endif %}
        <div class="col {% if day.active %}active{% elif day.future %} future{% else %} inactive {% endif %}">{{day.date}} - {{ day.active }} - {{day.future}}</div>
    </div>
    {% endfor %}
</div>

    <style>
        .active{
            background-color: green;
        }
        .inactive{
            background-color:red;
        }
        .future{
            background-color: grey;
        }
    </style>
</div>
    {% endblock %}